# Ambientes Virtuais
.venv/
venv/
ENV/
env/

# Docker e Senhas Locais
docker-compose.override.yml
.env
*.env

# Cache do Python e Streamlit
__pycache__/
*.pyc
.pytest_cache/
.streamlit/secrets.toml

# IDE e Sistema Operacional
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs e Arquivos temporários
*.log